/* src/components/layout/styles/layout.module.css */

/* Reset styling */
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  /* Container */
  .container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 40px; */
    padding: 30px;
    box-sizing: border-box; /* Agar padding tidak mempengaruhi lebar */
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; Pastikan container mengambil setidaknya tinggi layar penuh */
    border: 1px solid #eeeeee;
    /* border-radius: 14px; */
    z-index: 0;
    background-color: #FFFFFF;
  }
  
  .containerFluid {
    width: 100%;
    padding: 0 15px; /* Untuk container-fluid, padding kiri dan kanan */
  }
  
  /* Grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  

  /* Row */
  /* .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px; 
    margin-bottom: 20px;
  } */

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  
  .row > * {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row > *:last-child {
    margin-right: 0; /* Hilangkan margin kanan hanya pada kolom terakhir */
  }


  /* .col-1 {
    flex: 0 0 calc(8.33% - 10px);
    max-width: calc(8.33% - 10px);
  } */

  .col-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }

  /* .col-2 {
    flex: 0 0 calc(16.66% - 10px);
    max-width: calc(16.66% - 10px);
  } */
  .col-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }

  /* .col-3 {
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  } */

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  /* .col-4 {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
  } */

  .col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  /* .col-5 {
    flex: 0 0 calc(41.66% - 10px);
    max-width: calc(41.66% - 10px);
  } */

  .col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }

  /* .col-6 {
    flex: 0 0 calc(50% - 10px); 
    max-width: calc(50% - 10px); 
  } */

  .col-6 {
    flex: 0 0 50%; 
    max-width: 50%; 
  }

  /* .col-7 {
    flex: 0 0 calc(58.33% - 10px);
    max-width: calc(58.33% - 10px);
  } */

  .col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  } 

  /* .col-8 {
    flex: 0 0 calc(66.66% - 10px);
    max-width: calc(66.66% - 10px);
  } */

  .col-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }

  /* .col-9 {
    flex: 0 0 calc(75% - 10px);
    max-width: calc(75% - 10px);
  } */

  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  /* .col-10 {
    flex: 0 0 calc(83.33% - 10px);
    max-width: calc(83.33% - 10px);
  } */

  .col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }

  /* .col-11 {
    flex: 0 0 calc(91.66% - 10px);
    max-width: calc(91.66% - 10px);
  } */

  .col-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  /* Section */
  .section {
    margin-bottom: 20px;
    padding: 20px;
    /* border-radius: 8px; */
  }
  
  /* Wrapper */
  .wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Box */
  .box {
    background: #FFFFFF;
    border: 1px solid #dfe7ef;
    padding: 2rem;
    border-radius: 14px;
  }




  @media (max-width: 768px) {

    .col-1 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-2 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }    

    .col-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-7 {
      flex: 0 0 100%;
      max-width: 100%;
    }    

    .col-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }  
    
    .col-9 {
      flex: 0 0 100%;
      max-width: 100%;
    }    

    .col-10 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .col-11 {
      flex: 0 0 100%;
      max-width: 100%;
    }     
  
    .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    
}

