@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300;400;700&family=Barlow:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&family=Inter:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./app/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./app/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./app/assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ubah warna text dan background input disabled */
.ant-input[disabled],
.ant-select-disabled .ant-select-selector {
  color: #000 !important;         /* warna text */
  background-color: #f5f5f5 !important; /* background */
  opacity: 1 !important;          /* jangan transparan */
}

/* kalau mau khusus hanya untuk Edit Modal */
.edit-modal .ant-input[disabled],
.edit-modal .ant-select-disabled .ant-select-selector {
  color: #333 !important;
  background-color: #fafafa !important;
}
